<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>

    <div>
      <a routerLink="hero">hero</a>   &nbsp; 
      <a routerLink="dashboard">dashboard</a> &nbsp; 
      <a routerLink="newhero">newhero</a> 
    </div>
    <br>
    <router-outlet />
    <app-message />
  </body>
</html>
